@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h3 {
  font-size: 20px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  color: #222;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

/* Login/Signup page starts */

#login {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #E3E6F3;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login.blur * {
  filter: blur(5px);
  /* Adjust the blur amount as desired */
  pointer-events: none;
  /* Prevent interactions with the blurred content */
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  text-align: center;
}

.loader-container .loaderText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  text-align: center;
  color: #0E2954;
  font-family: 'Poppins', sans-serif;
}

#login .box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 640px;
  background-color: #fff;
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

#login .inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login .forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

#login .carousel {
  position: absolute;
  width: 55%;
  height: 100%;
  top: 0;
  left: 45%;
  background-color: #E3E6F3;
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  transition: 0.8s ease-in-out;
  overflow: hidden;
}

#login form {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

#login form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

#login .logo {
  display: flex;
  align-items: center;
}

#login .logo img {
  height: auto;
  width: 12.5rem;
}

#login .heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #151111;
}

#login .heading h6 {
  color: #bababa;
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
}

#login .toggle {
  color: #151111;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

#login .toggle:hover {
  color: #8371fd;
}

#login .input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

#login .input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s;
}

#login label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  pointer-events: none;
  color: #bbb;
  transition: 0.4s;
}

#login .input-field.active {
  border-bottom-color: #151111;
}

#login .input-field.active+label {
  top: -2px;
  font-size: 0.75rem;
  color: #151111;
}

#login .sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #151111;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}

#login .sign-btn:hover {
  background-color: #8371fd;
}

#login .text {
  color: #bbb;
  font-size: 0.7rem;
}

#login .text a {
  text-decoration: none;
  color: #151111;
  transition: 0.3s;
  font-size: 0.7rem;
}

#login .text a:hover {
  color: #8371fd;
}

#login.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

#login.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

#login.sign-up-mode .forms-wrap {
  left: 55%;
}

#login.sign-up-mode .carousel {
  left: 0%;
}

#login .images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#login .image {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}

#login .img-1 {
  transform: translate(0, -50px);
}

#login .img-2 {
  transform: scale(0.4, 0.5);
}

#login .img-3 {
  transform: scale(0.3) rotate(-60deg);
}

#login .image.show {
  opacity: 1;
  transform: none;
}

#login .text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#login .text-wrap {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

#login .text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
}

#login .text-group h2 {
  line-height: 2.2rem;
  font-size: 1.6rem;
  font-weight: 600;
}

#login .bullets {
  display: flex;
  align-items: center;
  justify-content: center;
}

#login .bullets span {
  display: block;
  width: 0.5em;
  height: 0.5rem;
  background-color: #aaa;
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

#login .bullets span.active {
  width: 1.1rem;
  background-color: #151111;
  border-radius: 1rem;
}




/* Login/Signup page ends */

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0px;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;

}

body {
  width: 100%;
}

#loader {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Header Start */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

#header .logo {
  height: auto;
  width: 12.5rem;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar .login {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #088178;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;
  cursor: pointer;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178
}

#navbar li a.active::after,
#navbar li a:hover:after {
  content: '';
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

.big-count {
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
}

/* Hero Banner Section Starts */

#hero {
  background: url(./components/assest/hero/hero4.1.png) no-repeat center center/cover;
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h1 {
  color: #088178;
}

#hero button {
  background-image: url(./components/assest/hero/button.png);
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

/* Feature Accounts section Starts */

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box img {
  width: 90%;
  margin-bottom: 10px;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
  cursor: pointer;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2ef;
}

/* Fetured Products Section starts  */

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border-radius: 25px;
  border: 1px solid #cce7d0;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0px;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 70%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
  /* font-weight: 600; */
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25)
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: 0.6s ease;
}

#product1 .pro .cart:hover {
  background-color: #088178;
  color: #fff;
}

#product1 .pro .cart:active{
  transform: scale(0.5);
}

/* Email Marketing Banner start */

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("./components/assest/banner/email_marketing.png");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #fff;
  font-size: 16px;
}

#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: #ef3636;
}

#banner button:hover {
  background: #088178;
  color: #fff;
}

/* SmBanner Section Starts */

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-width: 700px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-image: url("./components/assest/banner/sm-email.png");
  padding: 30px;
}

#sm-banner .b-box2 {
  background-image: url("./components/assest/banner/social.png");
}

#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background: #088178;
  border: 1px solid #088178;
}

/* Banner3 / Testimonial section starts */

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
  margin-top: 20px;
}

#banner3 .banner-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-image: url("./components/assest/testimonial/b7.jpg");
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

/* #banner3 .banner-box .banner-box-img{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #fff;
  position: absolute;
  bottom:0;
  left: 0;
}

#banner3 .banner-box .test-message{
  background: url("./components/assest/testimonial/test-message.png") no-repeat center center/cover;
  width: 400px;
  height: 180px;
  position: absolute;
  bottom: 40px;
  left: 30px;
} */

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}


/* Newsletter Section starts */

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("./components/assest/newsletter/b14.png") no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

#newsletter input {
  height: 2.9rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter input:focus {
  border: 1px solid #ffbd27;
}

#newsletter button {
  background: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Footer Section starts */

footer .col .logo {
  height: auto;
  width: 12.5rem;
  margin-bottom: 30px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer h4 {
  font-size: 16px;
  padding-bottom: 20px;
}

footer p {
  font-size: 15px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install .row img {
  margin: 10px 3px 15px 0;
}

footer i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

footer .copyright span:hover {
  cursor: pointer;
  color: #088178;
}

/* Shop page starts */

#page-header {
  background-image: url("./components/assest/shop/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #fff;
}

#pagination {
  text-align: center;

}

#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  margin: 0px 2px;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* Single Product section starts */

#prodetails {
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input {
  width: 70px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details button {
  background-color: #088178;
  color: #fff;
}

#prodetails .single-pro-details span {
  line-height: 25px;
}

/* Blog Section starts */

#page-header.blog-header {
  background-image: url("./components/assest/blog/b19.jpg");
}

#blog {
  padding: 150px 150px 0 150px;

}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}

#blog .blog-details a::after {
  content: '';
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-details a:hover {
  color: #088178;
}

#blog .blog-details a:hover::after {
  color: #088178;
}

#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -1;
}

/* About section */
#page-header.about-header {
  background-image: url("./components/assest/about/banner.png");
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 50%;
  height: auto;
}

#about-head div {
  padding-left: 40px;
}

#about-app {
  text-align: center;
}

#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}

#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* Contact section */

#page-header.contact-header {
  background-image: url("./components/assest/contact/b20.jpg");
}

#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span,
#form-details form span {
  font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  padding: 20px 0;
  line-height: 35px;
}

#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
  color: #088178;
}

#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}

#contact-details .map {
  width: 55%;
  height: 400px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #e3e6f3;
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
}

#form-details form button {
  background-color: #088178;
  color: #fff;
}

#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;

}

#form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}

#form-details .people div p {
  font-size: 13px;
  margin: 0;
  line-height: 25px;
}

#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

/* Cart Page */
#cart {
  overflow-x: auto;

}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(1) i:active {
  transform: scale(1.5);
}


#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6),
#cart table td:nth-child(7) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#cart table td:nth-child(7) i {
  background-color: #088178;
  padding: 10px;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
}

#coupon {
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
  padding-bottom: 15px;
}

#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1
}

#coupon button,
#subtotal button {
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;

}

#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

#cart table td:nth-child(7) i:active {
  transform: scale(0.90);
}

/* ----------------- */


.payment-methods img{
  width: 100%;
  height: 2em;
  margin: 1em;
}

.radiodiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.paymentMethodBox {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #f6f9fc;
  border-radius: 10px;
  width: 50%;
  margin:1em;
}

.paymentMethodBox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 12px;
  transition: transform 0.3s;
}

.paymentMethodBox.selected {
  transform: scale(1.1);
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + img {
  filter: grayscale(80%);
  opacity: 0.6;
  transition: filter 0.3s, opacity 0.3s;
}

input[type="radio"]:checked + img {
  filter: none;
  opacity: 1;
}



/* media queries */

@media(max-width:991px) {
  .section-p1 {
    padding: 40px 40px;
  }

  .tab-count {
    font-size: 16px;
    padding: 2px;
  }

  #header .logo {
    width: 10rem;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  #lg-bag {
    display: none;
  }

  #navbar .login {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #088178;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
    cursor: pointer;
    margin-left: 10px;
  }

  /* Login Form */

  #login .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  #login .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  #login .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  #login form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  #login .heading {
    margin: 2rem 0;
  }

  #login form.sign-up-form {
    transform: translateX(100%);
  }

  #login.sign-up-form form.sign-in-form {
    transform: translateX(-100%);
  }

  #login.sign-up-mode form.sign-up-form {
    transform: translateX(0);
  }

  #login .carousel {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  #login .images-wrapper {
    display: none;
  }

  #login .text-slider {
    width: 100%;
  }
}

@media (max-width:799px) {

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  #product1 .pro-container {
    justify-content: center;
  }

  #product1 .pro {
    width: 40%;
    margin: 15px;
  }

  #banner {
    height: 30vh;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 50vh;
  }

  #banner3 {
    padding: 0 40px;
  }

  #banner3 .banner-box {
    width: 28%;
  }

  #newsletter .form {
    width: 70%;
  }

  footer {
    padding: 0 40px;
  }

  /* contact section */

  #form-details {
    padding: 40px;
  }

  #form-details form {
    width: 50%;
  }
}

@media (max-width:530px) {
  #login {
    padding: 1rem;
  }

  #login .box {
    border-radius: 2rem;
  }

  #login .inner-box {
    padding: 1rem;
  }

  #login .carousel {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  #login .text-wrap {
    margin-bottom: 1rem;
  }

  #login .text-group h2 {
    font-size: 1.2rem;
  }

  #login form {
    padding: 1rem 2rem 1.5rem;
  }
}

@media (max-width:477px) {

  .section-p1 {
    padding: 20px;
  }

  #header {
    padding: 10px 30px;
  }

  #header .logo {
    width: 8rem;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 14px;
  }

  #hero {
    padding: 0 20px;
    background-position: 55%;
  }

  #feature {
    justify-content: space-between;
  }

  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0
  }

  #porduct1 .pro {
    width: 100%;
  }

  #banner {
    height: 40vh;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 40vh;
    background-position: 60% 50%;
  }

  #sm-banner .b-box2 {
    margin-top: 20px;
  }

  #banner3 {
    padding: 0 20px;
  }

  #banner3 .banner-box {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;
  }

  #newsletter .form {
    width: 100%;
  }

  footer .copyright {
    text-align: start;
  }

  /* single product page */

  #prodetails {
    display: flex;
    flex-direction: column;
  }

  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0;
    /* margin-bottom: 20px; */
  }

  #prodetails .single-pro-details {
    width: 100%;
  }

  /* Blog page */

  #blog {
    padding: 100px 20px 0 20px;
  }

  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  #blog .blog-details {
    width: 100%;
  }

  /* About page */

  #about-head {
    flex-direction: column;
  }

  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }

  #about-head div {
    padding-left: 0px;
  }

  #about-app .video {
    width: 100%;
  }

  /* contact page */

  #contact-details {
    flex-direction: column;
  }

  #contact-details .details {
    width: 100%;
    margin-bottom: 30px;
  }

  #contact-details .map {
    width: 100%;
  }

  #form-details {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }

  #form-details form {
    width: 100%;
    margin-bottom: 30px;
  }

  #form-details .people div {
    padding-bottom: 15px;
  }

  #form-details .people div img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  #form-details .people div p {
    font-size: 12px;
    line-height: 20px;
  }

  #form-details .people div p span {
    font-size: 14px;
  }

  /* cart page */
  #cart-add {
    flex-direction: column;
  }

  #coupon {
    width: 100%;
    margin-bottom: 30px;
  }

  #coupon input {
    width: 100%;
    margin: 0 0 10px 0;
  }

  #coupon button {
    width: 100%;
  }

  #subtotal {
    width: 100%;
    padding: 20px;
  }

  #subtotal table {
    width: 100%;
  }

  #subtotal table td {
    width: 100%;
  }

  #subtotal table td:nth-child(2) {
    text-align: right;
  }

  #subtotal table td:nth-child(1) {
    text-align: left;
  }

  #subtotal table td:nth-child(1) p {
    font-size: 13px;
  }

  #subtotal table td:nth-child(2) p {
    font-size: 13px;
  }

  #subtotal table td:nth-child(2) h3 {
    font-size: 16px;
  }

  #subtotal table td:nth-child(2) h3 span {
    font-size: 16px;
  }

  #subtotal button {
    width: 100%;
  }






















}